.full-section_google {
  grid-area: google;
  background-color: var(--main-google-color);
}


.search-form__input_google {

  border: .05rem solid var(--border-color);
  border-radius: 1.8rem;
  /* border: none; */
}

.icon-grid-item_google:hover {
  background-color: var(--highlight-color);
}
