.BookmarkList {
    grid-area: bookmarks;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, sans-serif;
    width: 140%;
    min-height: 100vh;
    margin: 0 auto;

    background-color: var(--main-color);

    color: white;

    overflow: hidden;

}

.BookmarkList__title {
    font-size: 2em;
    margin: 40px auto 4px;
}

.BookmarkList__search-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.BookmarkList__add-button {
    background: none;
    border: none;
    border-radius: 15px;
    color: rgba(95, 95, 95, 0.555);
    font-weight: 700;
    font-size: 2em;
    opacity: .3;
    transition: all 0.5s;
    aspect-ratio: 1/1;
}

.BookmarkList__add-button:hover {

    opacity: 1;
    border: 7px rgba(95, 95, 95, 0.555) solid;
    background: rgba(63, 63, 63, 0.555);
}

.BookmarkList__add-button:active {
    background: black;
}

.search-form__input_bookmarkList {

    background-color: var(--main-google-color);
    border: .05rem solid var(--border-color);
    border-radius: 1.3rem;
}

.BookmarkList_form-submit {
    padding: 7px;
    color: var(--text-color);
    padding-left: 30px;
    background-color: rgb(57, 57, 61);
    border: .05rem solid rgb(131, 131, 131);
    border-bottom-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    transition: all .5s;

}

.BookmarkList_form-submit:hover {
    background-color: rgb(83, 83, 85);
}

.BookmarkList_form-submit-hide {
    visibility: hidden;
}

.remove-button {
    height: 30px;
    /* width: 30px; */
    position: absolute;
    bottom: 0;
    cursor: pointer;

    border-radius: 24%;
    background-color: rgb(57, 57, 61);
    border: .05rem solid rgb(131, 131, 131);
    color: rgb(131, 131, 131);

    opacity: 0;
    transition: bottom 0.5s ease-in-out .5s, opacity 0.5s ease-in-out .5s;
}

.icon-grid-item:hover .remove-button {
    opacity: 1;
    bottom: 110%;
}

.remove-button:hover {
    transition: color 0.5s ease-in-out 0;
    background-color: rgb(83, 83, 85);
}

.remove-button-icon {
    max-width: 90%;
}

@media screen and (max-width: 500px) {
    .icon-grid_wide {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1010px) {
    .BookmarkList {
        width: 100%;
    }

    .BookmarkList__close-button {
        opacity: 0;
    }

    .icon-grid_bookmarks {
        margin-top: 30px;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .BookmarkList__title {
        font-size: 1.5em;
        margin-top: 10px;
    }

    .BookmarkList__form {
        width: 90%;
    }

}