.google-search {
  grid-area: google;
  font-family: Arial, sans-serif;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-color: rgb(32, 33, 36);
  color: white;
}

.google-logo {
  margin-top: 40px;
  max-width: 272px;
  width: 40%;
}

.google-search-input {
  width: 60%;
  margin-top: 36px;

  background-color: rgb(35, 35, 37);
  padding: 20px;
  border: .05rem solid rgb(131, 131, 131);
  border-radius: 1.8rem;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}



.icon-grid {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  max-width: 340px;
  margin: 60px auto;

}

.icon-grid-item {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: -webkit-fill-available;
  


  font-size: 10px;
  font-family: 'Inter', 'Arial';
  color: white;
  border-radius: 15px;
  text-decoration: none;

  transition: background-color 0.3s;
  transform: scale(1);
  transition: transform 0.3s;
}

.google-icon-grid-item:hover {
  background-color: #e0e0e025;
}

.icon {
  margin-top: 5px;
  height: 55px;
  max-height: 100%;
  width: auto;

  transition: .5s;
  transform: scale(1);
}

.icon-name {
  text-decoration: none;
  overflow-wrap: break-word;
  font-size: 1.5em;
  font-family: 'Inter', 'Arial';
  font-weight: 400;
}

@media screen and (max-width: 1010px) {
  .google-search-input {
    width: 90%;
  }

  .icon-name {
    font-size: 1em;
  }

  .icon {
    margin-top: 5px;
    max-height: 100%;
    width: auto;

    transition: .5s;
    transform: scale(1);
  }
}