html, body {
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: rgb(77, 77, 77);
}

.App {
  text-align: center;
  display: flex;
  flex:  auto;
}

.donation-link {

  position: absolute;

  left: -100px;
  bottom: -220px;

  background-color: rgb(116, 116, 116);
  transition: all 1s;

  text-decoration: none;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  text-wrap: wrap;
  
  padding: 20px 10px;
}

.donation-link:hover {
  left: 0;
  bottom: 0;
}

.donation-image {
  width: 100px;
  padding-bottom: 20px;
}
/* 
a, form, img{
  border: solid 1px red;
  box-sizing: content-box;
} */



@media screen and (max-width: 1010px) {
  .App {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2);
    grid-template-areas:
      "yandex google"
      "bookmarks bookmarks"
  }

  html {
    overflow-y: scroll;
  }
}



@import url(./vendor/normalize.css);
@import url(./vendor/inter.css);