html,
body {
  background-color: rgb(77, 77, 77);
}

.App {
  text-align: center;
  display: flex;
  flex: auto;
  position: relative;

}

:root {
  --text-color: rgb(255, 255,255);
  --border-color: rgb(80, 80, 80);
  --highlight-color: rgb(58, 58, 58);

  --main-yandex-color: rgb(22, 22, 22);
  --main-color: rgb(28, 28, 28);
  --main-google-color: rgb(33, 33, 33);

  --succes-color: rgb(12, 145, 65);
  --succes-highlight-color: rgb(25, 112, 60);
  --deni-color: rgb(141, 50, 50);
}

input::placeholder{
  color: var(--border-color)
}

.logo {
  margin-top: 40px;
  max-width: 272px;
  width: 40%;
}


.full-section {

  font-family: Arial, sans-serif;
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 0 auto;
}


.search-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-form__input {
  width: 60%;
  padding: 20px;
  margin-top: 36px;
  background-color: var(--main-google-color);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

.icon-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 60px 5px 100px;
  padding: 0;
}

.icon-grid-item {
  aspect-ratio: 1 / 1;
  text-wrap: nowrap;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: -webkit-fill-available;



  font-size: 10px;
  font-family: 'Inter', 'Arial';
  color: var(--text-color);
  border-radius: 15px;
  text-decoration: none;

  transition: background-color 0.3s;
  transform: scale(1);
  transition: all 0.3s;
}

.icon-grid-item_icon {
  margin-top: 5px;
  height: 55px;
  max-height: 100%;
  width: auto;

  border-radius: 7px;
  transition: .5s;
  transform: scale(1);
  
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.41));
}

.icon-grid-item_name {
  max-width: 12ch;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  overflow-wrap: break-word;
  font-size: 1.5em;
  font-family: 'Inter', 'Arial';
  font-weight: 400;
}

.icon-grid-item_link {
  color: var(--text-color);
  text-decoration: none;
}

.icon-grid_wide {
  grid-template-columns: repeat(4, 1fr);
}



@media screen and (max-width: 1100px) {
  .search-form__input {
    width: 90%;
    padding: 10px;
  }

  .icon-grid-item_name {
    font-size: 1em;
  }

  .icon-grid-item_icon {
    margin-top: 5px;
    max-height: 50px;
    width: auto;
    transition: .5s;
    transform: scale(1);
  }

  .icon-grid {
    gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .icon-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 1010px) {
  .App {
    height: fit-content;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2);
    grid-template-areas:
      "yandex google"
      "bookmarks bookmarks"
  }

  .full-section{
    width: 100%;
  }

  html {
    overflow-y: scroll;
  }
}


@import url(./vendor/normalize.css);
@import url(./vendor/inter.css);